@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

/* HEADER  */
header {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

header a {
    text-decoration: none;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: #e5e7eb;
    font-size: 24px;
}

nav a {
    font-size: 18px;
    color: #e5e7eb;
}

nav ul{
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 0.8em;
}

li {
    list-style: none;
}


/* SECTION 1 */
.sec1 {
    background-color: #1f2937;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec1-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 16px;
    width: 75%;
}

.text h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
}

.text p{
    color: #f9faf8;
}

.sec1-contents .text {
    max-width: 50%;
    min-width: 25%;

}

.sec1 .sec1-contents .img {
    flex: 1 0 auto;

}

.sec1 .sec1-contents .img img {
    width: 25rem;
    height: 25rem;
    background-color: transparent;
}

